
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Montserrat-Medium_1.ttf) format(truetype);
}


@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Montserrat-Bold_1.ttf) format(truetype);
}


@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Montserrat-Regular_1.ttf) format(truetype);
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(../font/Montserrat-SemiBold_1.ttf) format(truetype);
}


@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/Inter_1.ttf) format(truetype);
}

		